
  <div class="modal-body">
    <div class="logo-no-glitch" style="font-size: 35px;" data-text="Takhir Aralbaev">Takhir Aralbaev</div>

    <div class="personal-contact">
      <a class="mobile" href="tel:+77771245593">
        <img class="contact-icon-1" src="assets/img/ic_call_white.svg"
             alt="Takhir Aralabev Android Developer Facebook Icon">+77771245593</a>
      <div style='margin:20px;'>

        <a class="email" href="mailto:takhir.004@gmail.com?Subject=Hello%20again" target="_top"><img
          class="contact-icon-1" src="assets/img/ic_email_white_12px.svg"
          alt="Takhir Aralabev Android Developer Facebook Icon">takhir.004@gmail.com</a>

      </div>
      <app-form></app-form>
      <div class="modal-icon-bar">
        <a href="https://twitter.com" target="_blank">
          <img src="assets/img/twitter.svg"
               class="contact-icon-2"
               alt="Takhir Aralabev Android Developer Twitter Icon https://twitter.com/">
        </a>
        <a href="https://www.facebook.com" target="_blank">
          <img src="assets/img/facebook.svg"
               class="contact-icon-2"
               alt="Takhir Aralabev Android Developer Facebook Icon https://www.facebook.com/">
        </a>
        <a href="https://medium.com/" target="_blank">
          <img src="assets/img/medium.svg"
               class="contact-icon-2"
               alt="Takhir Aralabev Android Developer Medium Icon https://medium.com/@akshay_moorthy">
        </a>
        <a href="https://www.linkedin.com/in/" target="_blank">
          <img src="assets/img/linkedin.svg"
               class="contact-icon-2"
               alt="Takhir Aralabev Android Developer LinkedIn Icon https://www.linkedin.com/in/">
        </a>

      </div>
    </div>

  </div>

