<footer class="inner-social">
  <div id="icon-bar" class="icon-bar" [style.display]="isVisible ? '' : 'none'">
    <a href="https://twitter.com/akshay_moorthy" target="_blank">
      <img src="assets/img/twitter.svg"
           class='socialIcons'
           alt="Takhir Aralabev Android Developer Twitter Icon https://twitter.com/">
    </a>
    <a href="https://www.facebook.com/akshay.moorthy1" target="_blank">
      <img src="assets/img/facebook.svg"
           class='socialIcons'
           alt="Takhir Aralabev Android Developer Facebook Icon https://www.facebook.com/">
    </a>
    <a href="https://medium.com/@akshay_moorthy" target="_blank">
      <img src="assets/img/medium.svg"
           class='socialIcons'
           alt="Takhir Aralabev Android Developer Medium Icon https://medium.com/">
    </a>
    <a href="https://www.linkedin.com/in/akshay-moorthy" target="_blank">
      <img src="assets/img/linkedin.svg"
           class='socialIcons'
           alt="Takhir Aralabev Android Developer LinkedIn Icon https://www.linkedin.com/in/">
    </a>

  </div>
</footer>
