<!-- SEO -->
<link rel="icon" type="image/png" href="assets/img/ak_icon.png"/>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<section class="loader" *ngIf="!isVisible">
  <div class="centered">
    <img class="banner-logo" src="assets/img/akshay_logo_big.png" alt="">
  </div>
</section>

<!-- Your customer chat code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="195000027773753"
     theme_color="#303030"
     logged_in_greeting="Hi! How can I help you grow your business?"
     logged_out_greeting="Hi! How can I help you grow your business?">
</div>

<div id="all-content">

  <nav id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <section class="overlay-content" style="text-align: center;">
      <div style="display: inline-block; text-align: left;">
        <!--<a href="index.html">Home</a><br>-->
        <br><br><br>
        <a href="dealsapp.html">Free Deals and Offers App</a>
        <a href="socialapp.html">Social Networking App</a>
        <a href="fitnessapp.html">Fitness App</a>
        <a href="foodapp.html">Food Ordering App</a>
        <a href="eventsapp.html">Events App</a><br>
        <!--<a data-toggle="modal" data-target="#myModal">Contact</a><br>-->

      </div>
    </section>
  </nav>


  <!----End Slider -->
  <article class="content">
    <section id="nav-header" class="nav-header" [style.display]="isVisible ? '' : 'none'">
      <a class="navbar-brand" href="index.html"><img class="nav-logo" src="assets/img/akshay_logo.png"
                                                     alt="Akshay Moorthy Android Developer Logo"></a>
      <img class="navbar-menu" src="assets/img/menu.svg" style="cursor:pointer" (click)="openNav()"
           alt="Akshay Moorthy Android Developer Portfolio Tab">
    </section>

    <article class="intro">
      <section id="inner" class="inner" [style.display]="isVisible ? '' : 'none'">
        <header>
          <h1 class="intro-1">Hi, I am Akshay.</h1>
          <p class="intro-2">I am a Freelance Android Developer, I build custom apps & websites that help businesses
            grow.</p>
        </header>
        <section id="myCarousel" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="item active">
              <div>
                <img src="assets/img/udacity-logo.svg" class='iconDetails' alt="Udacity Android Nanodegree Logo">
              </div>
              <div style='margin-left:20px;'>
                <p class="intro-3-course">Udacity Android Developer Nanodegree</p>
              </div>
            </div>
            <div class="item">
              <p class="intro-3-work">Ex-Software Enginner-Android, Peach Studio</p>
            </div>
          </div>
          <button type="button" class="btn btn-outline-primary" (click)="openModal()" data-toggle="modal" data-target="#myModal">Contact
          </button>


        </section><!----End Slider -->
      </section>

    </article>
    <section id="inner-image" class="inner-image" [style.display]="isVisible ? '' : 'none'">
      <img src="assets/img/akshay_image.png" class="img-responsive"
           alt="Akshay Moorthy Android Developer Portfolio Image">
    </section>
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">
            <img class="akshay-contact-logo-big" src="assets/img/akshay_logo_big.png">

            <div class="personal-contact">
              <a class="mobile" href="tel:+919840613520">
                <img class="contact-icon-1" src="assets/img/ic_call_white.svg"
                     alt="Akshay Moorthy Android Developer Facebook Icon">+919840613520</a>
              <div style='margin:20px;'>

                <a class="email" href="mailto:m.akshay9@gmail.com?Subject=Hello%20again" target="_top"><img
                  class="contact-icon-1" src="assets/img/ic_email_white_12px.svg"
                  alt="Akshay Moorthy Android Developer Facebook Icon">m.akshay9@gmail.com</a>

              </div>
              <div class="modal-icon-bar">
                <a href="https://twitter.com/akshay_moorthy" target="_blank">
                  <img src="assets/img/twitter.svg"
                       class="contact-icon-2"
                       alt="Akshay Moorthy Android Developer Twitter Icon https://twitter.com/akshay_moorthy">
                </a>
                <a href="https://www.facebook.com/akshay.moorthy1" target="_blank">
                  <img src="assets/img/facebook.svg"
                       class="contact-icon-2"
                       alt="Akshay Moorthy Android Developer Facebook Icon https://www.facebook.com/akshay.moorthy1">
                </a>
                <a href="https://medium.com/@akshay_moorthy" target="_blank">
                  <img src="assets/img/medium.svg"
                       class="contact-icon-2"
                       alt="Akshay Moorthy Android Developer Medium Icon https://medium.com/@akshay_moorthy">
                </a>
                <a href="https://www.linkedin.com/in/akshay-moorthy" target="_blank">
                  <img src="assets/img/linkedin.svg"
                       class="contact-icon-2"
                       alt="Akshay Moorthy Android Developer LinkedIn Icon https://www.linkedin.com/in/akshay-moorthy">
                </a>

              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    <footer class="inner-social">
      <div id="icon-bar" class="icon-bar" [style.display]="isVisible ? '' : 'none'">
        <a href="https://twitter.com/akshay_moorthy" target="_blank">
          <img src="assets/img/twitter.svg"
               class='socialIcons'
               alt="Akshay Moorthy Android Developer Twitter Icon https://twitter.com/akshay_moorthy">
        </a>
        <a href="https://www.facebook.com/akshay.moorthy1" target="_blank">
          <img src="assets/img/facebook.svg"
               class='socialIcons'
               alt="Akshay Moorthy Android Developer Facebook Icon https://www.facebook.com/akshay.moorthy1">
        </a>
        <a href="https://medium.com/@akshay_moorthy" target="_blank">
          <img src="assets/img/medium.svg"
               class='socialIcons'
               alt="Akshay Moorthy Android Developer Medium Icon https://medium.com/@akshay_moorthy">
        </a>
        <a href="https://www.linkedin.com/in/akshay-moorthy" target="_blank">
          <img src="assets/img/linkedin.svg"
               class='socialIcons'
               alt="Akshay Moorthy Android Developer LinkedIn Icon https://www.linkedin.com/in/akshay-moorthy ">
        </a>

      </div>
    </footer>
  </article>

</div>
